body {
	margin: 0;
	padding: 0;
	font-family: 'Cormorant Infant', serif;
	font-style: normal;
	font-size: 16px;
}

.navbar-default {
	background-color: rgba(255, 255, 255, 0.7);
	border-color: transparent;
	border-width: 0;
}

.shrink {
	background-color: #ffffff;
}

/*.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover {
	color: #C4893D;
	background-color: transparent;
	font-style: italic;
}*/

/* Pink gradient*/
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
	font-style: italic;
	color: #333333;
}


.navbar-default .navbar-nav>li>a {
    color: #333333;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #000000;
}

.navbar-default .navbar-brand,
.page_footer .brand-name {
	font-family: 'Poiret One', cursive;
	font-size: 20px;
	font-weight: 600;
	line-height: 60px;
	text-transform: uppercase;
}

.navbar-default .navbar-toggle {
	border-color: transparent;	
}

.navbar-brand,
.navbar-toggle,
.navbar-nav,
.navbar-nav>li {
	text-align: center;
	float: none;
}

.navbar-header {
	float: none;
	text-align: left;
}

.navbar-nav {
	margin-top: 0;
	margin-bottom: 0;
}

.navbar-toggle {
	margin: 0;
	position: absolute;
	top: 12px;
	right: 15px;
}

/*.navbar-collapse {
	border-top: 1px solid #e7e7e7;
}*/

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #777777;
}

.img-responsive {
	min-width: 100%;
}

.carousel-inner {
	max-height: 100vh;	
}

.item {
	height: inherit;
	overflow: hidden;
}

.carousel-indicators li {
	opacity: 0.7;
}

.portfolio {
	padding-top:60px; 
	padding-bottom: 80px;
}

.portfolio__h2 {
	font-size: 18px;
	font-weight: 400;
	text-align: center;
}

.portfolio__h2:after {
	background-color: #777777;
}

.h_divider {	
	position: relative;
	margin-bottom: 30px;
	padding-top: 20px;
	padding-bottom: 30px;
}

.h_divider:after {
	content: '';
	position: absolute;
	margin-left: -25px;
	width: 50px;
	height: 1px;
	bottom: 0;
	left: 50%;
}

.portfolio__block {
	padding: 15px;
}

.portfolio__img {
	display: block;
	width: 100%;
	height: auto;
}

.portfolio__description {
	position: absolute;
	top: 40%;
	left: 0;
	width: 100%;
	text-align: center;
}

.button {
	display: inline-block;
	padding: 20px 40px;
	color: #ffffff;
	text-shadow: 0px 0px 5px #333333;
	letter-spacing: 1px;
	font-style: italic;
	border: 1px solid transparent;
	transition-duration: 0.3s;
}

.portfolio__button {
	font-size: 150%;
	font-weight: bold;
}

.button:hover {
	background-color: rgba(255, 255, 255, 0.3);
	color: #ffffff;
	text-decoration: none; 

}

.portfolio__block:hover .button {
	border: 1px solid #ffffff;
}

.about__text {
	color: #ffffff;
	height: inherit;
	font-size: inherit;
}

.about__h2 {
	font-size: 140%;
}

.about__h2:after {
	background-color: #ffffff;
}

.about__p {
	font-style: italic;
}

.about .row {
	background-color: #252928;
}

.about__photo {
	padding: 0;
	min-height: 400px;
	background-image: url(../img/photographer.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.about__image {
	position: relative;
	min-height: 100%;
}

.about__photo:after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(37, 41, 40, 1), rgba(37, 41, 40, 0));
}

.about__text {
	text-align: center;
}

.about__button {
	margin-top: 20px;
	margin-bottom: 40px;
	border: 1px solid #ffffff;
	font-style: normal;
}

.page_footer {
	padding:25px 0;
	background-color: #ffffff;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
}

.social_nav {
	list-style-type: none;
	-webkit-padding-start: 0px;	
}

.social_nav li{
	display: inline-block;
	margin:10px 5px;
	font-family: 'FontAwesome';
	color: #cccccc;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}

.page_footer .social_nav li{
	font-size: 24px;
	margin:10px;
}

.social_nav a:link {
	color: #777777;
	text-decoration: none;
}

.social_nav a:visited,
.page_footer a:visited {
	color: #777777;
}

.social_nav a:hover,
.page_footer a:hover {
	color: #000000;
	text-decoration: underline;
}

@media (min-width: 361px) {
	.navbar-header {
		text-align: center;
	}
}

@media (min-width: 768px) {
	.navbar-nav>li {
		display: inline-block;
	}
	.navbar-nav>li>a {
		padding-top: 5px;
		padding-bottom: 10px;
	}
	.navbar-header {
		font-size: 30px;
	}
	.navbar-default .navbar-nav>.active>a {
	    border-bottom: 2px solid #777777;
	}
}

@media (min-width: 992px) {
	.social_nav {
		text-align: right;
	}
	.about__text {
		text-align: left;
		max-width: 600px;
	}
	.about__h2:after {
		left: 0;
		margin-left: 0;
	}
}
